<ion-view  view-title="Tasks">
    
    <ion-nav-bar class="bar-positive  pad-left14" ng-hide="hideHeader" align-title="center">
        <ion-nav-buttons side="left" >
            <button style="color: #ffffff;" class="button button-icon button-clear ion-navicon " menu-toggle="left">
            </button>
        </ion-nav-buttons>     
        <ion-nav-buttons side="right" >
<!--            <button style="color: #ffffff;" class="button button-icon button-clear ion-search " style="">
            </button>-->
            <i class="ion-search" style="color: #ffffff;font-size: 22px;padding-right: 5px;padding-top: 6px;" on-tap="showHeaderSearch();"></i>
        </ion-nav-buttons> 
        
    </ion-nav-bar>
    <div class="bar bar-positive item-input-inset" ng-show="showSearch">
            <label class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon" style="font-size:15px"></i>
              <input type="search" placeholder="Search Task" style="color: rgb(152, 155, 154);" ng-model="searchTask" focus-Me="searchFocus">
            </label>
<!--            <button class="button button-clear" on-tap="hideSearch();">
              Cancel
            </button>-->
            <i class="ion-android-close" style="padding-left:10px;padding-right:5px;font-size:25px" on-tap="hideSearch();"></i>
    </div>
        
    <!--header bar of add to do-->
    <ion-content>
<!--        <script id="my-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar style="background-color: lemonchiffon; minheight:80px;">
                <h1  class="title" style="padding-bottum:10px;font-weight:bold;font-size:20px;">Share</h1>
        </ion-header-bar>
     <ion-tabs class="tabs-positive tabs-icon-only">

         <ion-tab title="Contact" icon-on="ion-android-contacts" icon-off="ion-android-contact">
           Tab 1 content 
          <ion-content>
             
               <ion-list style="display:inline-block;padding-top:93px;width:100%;" >
               <ion-item class="padding-top item-avatar item-icon-right item">
                  <div class="searchDiv">
                  <input id="searchBox" type="text" ng-model="add.contactSearch" placeholder="Email" class="ng-pristine ng-untouched ng-valid">
                    <i on-tap="shareTodo(add.contactSearch)" class="button-clear icon ion-share disable-user-behavior"></i>
                  <div class="iconBtn">
                      <button on-tap="shareViaWhatsapp()" class="button-clear shareBtn  ion-social-whatsapp-outline disable-user-behavior" ></button>
                  </div>
                
                  
                  </div> 
                </ion-item>
                <ion-item on-tap="shareTodo(contact.email)" class="padding-top item-avatar item-icon-left" ng-repeat="contact in myContact | filter:add.contactSearch">
                <a href="#" style="width:100%">
                 <div style="display:inline-block; width:100%;">
                
                    <div class="circleBase" style="background-color:{{contact.color}};border-color:{{contact.color}}" >{{contact.name | FirstLetter}}</div>
            
                    <h3 style=" padding-top:8px; float:right; width:70%">{{contact.name}}</h3>
                     <h5 style=" padding-top:3px; float:right; width:70%">{{contact.email}}</h5>
                </a>  
                    </div>
                </ion-item>
               </ion-list> 
            </ion-content>
        </ion-tab>

       </ion-modal-view>
        </script>-->
        
        <!-- Add Todo Task Modal-->
        <script id="createTodo.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar align-title="left" style="background-color: #2a8dd1; border:none; minheight:100px; background-image:none;">
                    <div class="buttons" style="margin-left:15px;">
                        <i class="ion-close" style="font-size: 21px;color: white; padding-top: 5px;" on-tap="hideCreateModal()"></i>
                    </div>
                    
                        <h1  class="title" style="left:45px !important;color:white;font-size:18px;font-weight: 500;">Add Task</h1>
                    
                    <div class="buttons" style="margin-right:15px;">
                        <span style="font-size: 12px;color: white;padding-top: 5px;font-weight: 600;" on-tap="addTodo()">SAVE</span>
                    </div>
                </ion-header-bar>
                <ion-content >
                    <div style="height: 100px;background-color: #2a8dd1;" ng-init="focus=false;blur=true">
                        
                        <label class="item item-input " style="background-color: rgb(42, 141, 209);border: none; margin-left:15px; margin-right:15px">
                            <span class="input-label" style="color: #87bcde;font-size: 14px;font-weight: 600;padding-bottom: 0px;">Task Name</span>
                            <input type="text" ng-model="mytask.title" ng-focus="focus=true;blur=false;" ng-blur="focus=inFo;blur=blFo;blurfun(mytask.title);"  ng-class="{focusStyle:focus,blurStyle:blur}">
                      </label>
                    </div>
                    <div class="myDiv no-border">
                     
                            <div class="buttons" style="width:17%" on-tap="showReminder=true;" ng-hide="showReminder">
                                <i class="icon placeholder-icon ion-android-notifications" style="color: #2A8DD1;font-size: 25px;"></i> 
                                <span style="position: absolute;font-weight: 500;  padding-left: 10px;font-size: 15px;top: 117px;color: #898989;">Remind me<span>
                            </div>
                    
                    </div>
                    <nav ng-show="showReminder" id="horizontalmenu" class="" close-submenu>
                        <div style="padding-bottom: 20px;">
                            <button class="button button-icon icon-left placeholder-icon ion-clock" style="color:#2a8dd1;position: absolute;padding: 9px 15px 10px 5px;">
                            </button>
                            <ul style="margin-left: 36px;display: inline-block;"> 
                                <li><a id="dateBtn">{{ChoosenDate}}</a>
                                    <ul ng-show="reminderTime.isDateDisplaying"> 
                                        <li class="mydivider1" >
                                            <a on-tap="showDate(myDates[0].title,$event)">{{myDates[0].title}}</a>
                                        </li>
                                        <li class="mydivider1">
                                            <a  on-tap="showDate(myDates[1].title,$event)">{{myDates[1].title}}</a>
                                        </li>
                                        <!--<li >{{Date}}</li> -->
                                        <li>
                                            <a on-tap="showDate(myDates[2].title,$event)">{{myDates[2].title}}</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a id="timeBtn">{{mytimeTitle}}</a>
                                    <ul ng-show="reminderTime.isTimeDisplaying" >
                                        <li class="pad-bot7 mydivider1" >
                                            <a on-tap="showTime($event,myTimes[0].title)">
                                                <span class="time">{{myTimes[0].title}}</span>
                                                <span class="tiny grey">{{myTimes[0].dtime}}</span>
                                            </a>
                                        </li>
                                        <li class="pad-bot7 mydivider1" >
                                            <a on-tap="showTime($event,myTimes[1].title)">
                                                <span class="time">{{myTimes[1].title}}</span>
                                                <span class="tiny">{{myTimes[1].dtime}}</span>
                                            </a>
                                        </li>
                                        <li class="pad-bot7 mydivider1" >
                                            <a on-tap="showTime($event,myTimes[2].title)">
                                                <span class="time">{{myTimes[2].title}}</span>
                                                <span class="tiny">{{myTimes[2].dtime}}</span>
                                            </a>
                                        </li>
                                        <li class="pad-bot7 mydivider1" >
                                            <a on-tap="showTime($event,myTimes[3].title)">
                                                <span class="time">{{myTimes[3].title}}</span>
                                                <span class="tiny">{{myTimes[3].dtime}}</span>
                                            </a>
                                        </li>
                                        <!--<li class="grey pad-bot7"><span class="time">{{Time}}</span></li>-->
                                        <li class="grey pad-bot7">
                                            <a on-tap="showTime($event,myTimes[4].title)">
                                                <span class="time">{{myTimes[4].title}}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <button class="button button-icon icon-left placeholder-icon ion-close-circled" 
                                    style="color:#2a8dd1;padding: 10px 0px 10px 10px;position:absolute;right:6px;" on-tap="noReminder()">
                            </button>

                        </div>

                    </nav>
                </ion-content>
            </ion-modal-view>
        </script>
        
<!--        <ion-list can-swipe="listCanSwipe">
            <ion-refresher pulling-text="pull to refresh" on-refresh="refreshMe()">
            </ion-refresher>  
            <ion-item class="item-divider default" style="background-color: #f5f5f5;height: 35px;padding-left: 25px; " ng-show="todayTask.length">
                <label class="left capital lineheight">Today</label>
                <button class="button-clear ion-chevron-down" on-tap="showToday()"
                        style="text-align: center;display:inline-block; float: right;width: 40px;">

                </button>

            </ion-item>
            <ion-item ng-repeat="todoItem in todayTask = (todoList|today | filter:{done:false}) track by $index" 
                      class="mydivider defaultText default " style="height: auto;"
                      on-hold="callEdit($index, todoItem)" ng-show="isTodayVisible">
                <ion-checkbox class="" style="border: none;" 
                              ng-checked="todoItem.done" ng-model="todoItem.done" ng-change="completedRecord(todoItem, $index)">
                    <span class="left taskheight todoLabel" >{{todoItem.title|titlecase}}</span> 
                </ion-checkbox>
                <i ng-hide="todoItem.parseStatus" class="beLabel right rightLabel icon-left placeholder-icon ion-clock" style="margin-right: 2px;"> Today {{todoItem.alarmTime|date:'h:mma '}}</i>
                <ion-option-button class="button-assertive pa" ng-click="openContact($event,todoItem)" style="width: 135px;">
                <ion-option-button class="button-assertive pa"  ng-click="deleteTodo()">
                    <i class="ion-trash-b" style="font-size: 23px;color: white; padding-top: 5px;padding-left: 5px;" ></i>
                 </ion-option-button>
                <ion-option-button class="button-assertive pa"  ng-click="editTodo()">
                        <i class="ion-edit" style="font-size: 23px;color: white; padding-top: 5px;" ></i>
                </ion-option-button>
                <ion-option-button class="button-assertive pa"  ng-click="shareTodoOption(todoItem)">
                        <i class="ion-android-share-alt" style="font-size: 23px;color: white; padding-top: 5px;" ></i>
                </ion-option-button>


            </ion-item>

        </ion-list>-->

        <ion-list can-swipe="listCanSwipe">
            <ion-refresher pulling-text="pull to refresh" on-refresh="refreshMe()">
            </ion-refresher> 
            <ion-item ng-repeat="todoItem in laterTask = (todoList|upcoming | filter:{done:false} |filter:searchTask) track by $index" 
                      class="mydivider defaultText default " style="height: 58px;"
                      on-hold="callEdit($index, todoItem)" ng-show="isLaterVisible" >
                <ion-checkbox class="" style="border: none;" 
                              ng-checked="todoItem.done" ng-model="todoItem.done" ng-change="completedRecord(todoItem, $index)">
                    <span class="left taskheight todoLabel" style="">{{todoItem.title|titlecase}}</span> 
                    <i ng-hide="todoItem.parseStatus" class="beLabel right rightLabel icon-left placeholder-icon ion-clock" style="margin-right: 2px;position: absolute;width: 100%;top: 33px;left: -1px;">
                    <span>{{todoItem.time|date:'medium'}}</span></i>
                </ion-checkbox>
                
<!--                <i ng-hide="todoItem.parseStatus" class="beLabel right rightLabel icon-left placeholder-icon ion-clock" style="margin-right: 2px;">
                    <span>{{todoItem.time|date:'medium'}}</span></i>-->
<!--                <ion-option-button class="button-assertive" ng-click="openContact($event,todoItem)" style="width: 135px;">-->

                <ion-option-button class="button-assertive pa"  ng-click="deleteTodo(todoItem)">
                     <i class="ion-trash-b" style="font-size: 23px;color: white; padding-top: 5px;padding-left: 5px;" ></i>
                </ion-option-button>
                <ion-option-button class="button-assertive pa"  ng-click="editTodo(todoItem)">
                        <i class="ion-edit" style="font-size: 23px;color: white; padding-top: 5px;" ></i>
                </ion-option-button>
                <ion-option-button class="button-assertive pa"  ng-click="shareTodoOption(todoItem)">
                        <i class="ion-android-share-alt" style="font-size: 23px;color: white; padding-top: 5px;" ></i>
                </ion-option-button>
            </ion-item>
                
        </ion-list>
            
        <ion-list>
            <ion-item class="item-divider default" style="background-color: #E9E9E9;height: 35px;padding-left: 25px;" ng-show="completedTask.length">
                <label class="left capital lineheight">Completed</label>
            </ion-item>
            <ion-item ng-repeat="todoItem in completedTask = (todoList| filter:{done:true} |filter:searchTask) track by $index" 
                      class="mydivider defaultText default"  style="height: auto;"
                       ng-show="isCompletedVisible">
                <ion-checkbox class="" style="border: none;" 
                              ng-checked="todoItem.done" ng-model="todoItem.done" ng-change="completedRecord(todoItem, $index)">
                    <span class="left taskheight {{todoItem.completed}} todoLabel" >{{todoItem.title|titlecase}}</span> 
                    <!--                    <i ng-hide="todoItem.parseStatus" class="beLabel right rightLabel" style="margin-right: 2px;">{{todoItem.time|date:'dd,MMM'}}</i>-->
                </ion-checkbox>
                <span class="row todo-tag">
                    <label style="background-color: {{tag.color}};color: #999999;" class="tag pad5" ng-repeat="tag in todoItem.todoTag">
                        {{tag.title}}
                    </label>
                </span>
            </ion-item>

        </ion-list>

    </ion-content>
    <!--footer bar of add to do-->
    <ion-footer-bar align-title="left" class="bar-clear" ng-show="true">
        <h1 class="title">Title</h1>
        <div class="buttons" ng-click="createTodo()" ng-hide="hideCreateTodo">
            <button class="create-btn button createBgcolor ion-plus-round " style="font-size:20px ; "> 
            </button>
        </div>
    </ion-footer-bar>
</ion-view>

<script id="editTodo.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar align-title="left" style="background-color: #2a8dd1; border:none; minheight:100px; background-image:none;">
                    <div class="buttons" style="margin-left:15px;">
                        <i class="ion-android-arrow-back" style="font-size: 29px;color: white; padding-top: 5px;" on-tap="closeEditTodo();"></i>
                    </div>
                    
                        <h1  class="title" style="left:45px !important;color:white;font-size:18px;font-weight: 500;">Edit Task</h1>
                    
                    <div class="buttons" style="margin-right:15px;">
                        
                        <i class="ion-checkmark" style="font-size: 25px;color: white; padding-top: 5px;" on-tap="#"></i>
                    </div>
                </ion-header-bar>
                <ion-content >
                    <div style="height: 100px;background-color: #2a8dd1;" ng-init="focus=false;blur=true">
                        
                        <label class="item item-input " style="background-color: rgb(42, 141, 209);border: none; margin-left:15px; margin-right:15px">
                            <span class="input-label" style="color: #87bcde;font-size: 14px;font-weight: 600;padding-bottom: 0px;">Task Name</span>
                            <input type="text" ng-model="editTaskTitle" ng-focus="focus=true;blur=false;" ng-blur="focus=inFo;blur=blFo;blurfun(mytask.title);"  ng-class="{focusStyle:focus,blurStyle:blur}">
                      </label>
                    </div>
                    
                    <nav  id="horizontalmenu" class="" close-submenu>
                        <div style="padding-bottom: 20px;">
                            <button class="button button-icon icon-left placeholder-icon ion-clock" style="color:#2a8dd1;position: absolute;padding: 9px 15px 10px 5px;">
                            </button>
                            <ul style="margin-left: 36px;display: inline-block;"> 
                                <li><a id="dateBtn">{{editDate}}</a>
                                    <ul ng-show="reminderTime.isDateDisplaying"> 
                                        <li class="mydivider1" ><a on-tap="showDate(myDates[0].title,$event)">{{myDates[0].title}}</a></li>
                                        <li class="mydivider1"><a  on-tap="showDate(myDates[1].title,$event)">{{myDates[1].title}}</a></li>
                                        <!--                                <li >{{Date}}</li> -->
                                        <li><a on-tap="showDate(myDates[2].title,$event)">{{myDates[2].title}}</a></li>
                                    </ul>
                                </li>
                                <li><a id="timeBtn">{{editTime}}</a>
                                    <ul ng-show="reminderTime.isTimeDisplaying" >
                                        <li class="pad-bot7 mydivider1" ><a on-tap="showTime($event,myTimes[0].title)"><span class="time">{{myTimes[0].title}}</span><span class="tiny grey">{{myTimes[0].dtime}}</span></a></li>
                                        <li class="pad-bot7 mydivider1" ><a on-tap="showTime($event,myTimes[1].title)"><span class="time">{{myTimes[1].title}}</span><span class="tiny">{{myTimes[1].dtime}}</span></a></li>
                                        <li class="pad-bot7 mydivider1" ><a on-tap="showTime($event,myTimes[2].title)"><span class="time">{{myTimes[2].title}}</span><span class="tiny">{{myTimes[2].dtime}}</span></a></li>
                                        <li class="pad-bot7 mydivider1" ><a on-tap="showTime($event,myTimes[3].title)"><span class="time">{{myTimes[3].title}}</span><span class="tiny">{{myTimes[3].dtime}}</span></a></li>
                                        <!--                                <li class="grey pad-bot7"><span class="time">{{Time}}</span></li>-->
                                        <li class="grey pad-bot7"><a on-tap="showTime($event,myTimes[4].title)"><span class="time">{{myTimes[4].title}}</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                            

                        </div>

                    </nav>
                </ion-content>
            </ion-modal-view>
        </script>
        
<script id="socialShareFB.html" type="text/ng-template">
    <ion-modal-view>
                <ion-header-bar style="background-color: #2a8dd1; border:none; minheight:100px;">
                    <div class="buttons">
                        <i class="ion-arrow-left-c" style="font-size: 23px;color: white; padding-top: 5px;" ng-click="hideFbShareModal()"></i>
                    </div>
                    
                        <h1  class="title" style="padding-bottum:10px;color:white;font-size:20px;">Share</h1>
 
                </ion-header-bar>
                        
                <ion-content>
                        <div class="bar bar-header item-input-inset" style="background-color:#eeeeee">
                                <label class="item-input-wrapper" style="background-color:#eeeeee">
                                  <i class="icon ion-search placeholder-icon" style="font-size:15px"></i>
                                  <input type="search" placeholder="Search your friend list" ng-model="searchFbFrnd" style="background-color:#eeeeee">
                                </label>
                        </div>
                    <ion-list style="display:inline-block;width:100%;" >
                       <ion-item  class="padding-top item-avatar item-icon-left" ng-repeat="fdetail in fData |filter:searchFbFrnd">
                            <div class="frndDetailDiv">
                                <img class="fbFrndpic" src="{{fdetail.pic}}">
                                <span class="fbFrndname">{{fdetail.name}}</span>
                                <span class="button button-outline button-calm fbshare" on-tap="fShareTodo(fdetail.id)">Share</span>
                            </div>
                        </ion-item>
                    </ion-list>
                </ion-content>
        </ion-model-view>
</script>

<script id="socialShareEmail.html" type="text/ng-template">
        <ion-modal-view>
                <ion-header-bar style="background-color: #2a8dd1; border:none; minheight:100px;">
                    <div class="buttons">
                        <i class="ion-arrow-left-c" style="font-size: 23px;color: white; padding-top: 5px;" ng-click="hideEmailShareModal()"></i>
                    </div>
                    
                        <h1  class="title" style="padding-bottum:10px;color:white;font-size:20px;">Share</h1>
 
                </ion-header-bar>
                <ion-content>
                        <div class="bar bar-header item-input-inset" style="background-color:#eeeeee">
                                <label class="item-input-wrapper" style="background-color:#eeeeee">
                                  <i class="icon ion-search placeholder-icon" style="font-size:17px"></i>
                                  <input type="search" placeholder="Search Email" ng-model="searchEmailFrnd" style="background-color:#eeeeee">
                                </label>
                        </div>
                    <ion-list style="display:inline-block;width:100%;" >
                       <ion-item  class="padding-top item-avatar item-icon-left" ng-repeat="eDetail in myContact |filter:searchEmailFrnd">
                            <div class="frndDetailDiv">
                                <span class="circleBase" style="background-color:{{eDetail.color}}">{{eDetail.name | FirstLetter}}</span>
                                <span class="emailFrndName">{{eDetail.name}}</span>
                                <span class="emailFrndEmail">{{eDetail.email}}</span>
                                <span class="button button-outline button-calm fbshare" on-tap="eShareTodo(eDetail.email)">Share</span>
                            </div>
                        </ion-item>
                    </ion-list>
                </ion-content>
 </script>