<ion-view class="bgcolor">  
    <ion-content class="bgcolor">
            <img ng-src="images/logo.jpg" class="beCenter margin-top100 margin-bottom100">
            <button class="blockButton button button-block button-fb defaultText beCenter" 
                    style="width: 300px;" on-tap="fbLogin()">
                <i class="icon ion-social-facebook" style="position: absolute;left: 20px;"></i> Login with <strong>Facebook</strong>
            </button>
            <button class="blockButton button button-block button-g defaultText beCenter"
                    style="width: 300px;" on-tap="gLogin()">
                <i class="icon ion-social-googleplus" style="position: absolute;left: 20px;"></i>Login with <strong>Google+</strong>
            </button>
    </ion-content>
</ion-view>