<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bgcolor mybar">
            <ion-nav-back-button class="white button-clear" style="margin-top: 6px;">
                <i class="ion-chevron-left white"></i>Back
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent">

        </ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu  side="left" expose-aside-when="large" class="" >
        <ion-content class="">
            


            
            <ion-list>
                <ion-item  class="padding-top item-avatar item-icon-left no-border" style="width:100%; height:92px; top:10px;" ng-show="ifLoogedIn">
                    <div class="frndDetailDiv">
                        <img class="fbFrndpic" src="{{loggedUserPic}}">
                        <span style="padding-left:65px;position:absolute;">{{loggedName}}</span>
                        <span style="padding-left:65px;position:absolute;padding-top: 17px;color: rgb(107, 107, 117);">{{loggedUser}}</span>
                    </div>
                </ion-item>
                <ion-item class="no-border " style="width:100%;height:50px;font-family: roboto;" href="#/app/add_todo">
                    <i class="side-icon-position icon menuIcon col-offset-10 ion-android-clipboard"></i><span class="menuText" >Tasks</span>
                </ion-item>
                <ion-item class="no-border " style="width:100%;height:50px;font-family: roboto;">
                    <i class="side-icon-position icon menuIcon col-offset-10 ion-forward"></i><span class="menuText" >Sync</span>
                </ion-item>
                <ion-item class="no-border" style="width:100%;height:50px;font-family: roboto;">
                    
                    <div class="button-clear" ng-show="ifLoogedIn" on-tap="logout()">
                        <i class="side-icon-position icon col-offset-10 menuIcon ion-log-out" style="font-size: 16px;font-weight:700;top: 6px;"></i>
                        <span class="menuText" >Logout</span> 
                        
                    </div>
                    <div class="button-clear" ng-hide="ifLoogedIn" on-tap="login()">
                        <i class="side-icon-position  icon menuIcon ion-android-exit" style="margin-left: 10%;"></i>
                        <span class="menuText" >Login</span> 
                    </div>
                </ion-item>
                <ion-item class="no-border " style="width:100%;height:50px;font-family: roboto;" href="#/app/complete_todo">
                    <i class="side-icon-position icon menuIcon col-offset-10 ion-android-checkbox-outline"></i><span class="menuText" >Completed</span>
                </ion-item>
                <ion-item class="no-border " style="width:100%;height:5 0px;font-family: roboto;" href="#/app/trash">
                    <i class="side-icon-position icon menuIcon col-offset-10 ion-trash-b"></i><span class="menuText" >Trash</span>
                </ion-item>
            </ion-list>
            
<!--            <ion-list>
                <ion-item nav-clear menu-close href="#/app/add_todo" class="no-border " style="width:100%;height:40px;font-family: roboto;" >
                    <i class="icon  col-offset-20"></i><strong> All</strong>
                </ion-item>

                <ion-item nav-clear menu-close href="#/app/today" class="no-border " style="width:100%;height:40px;font-family: roboto;">
                    <i class="icon col-offset-20"></i><strong> TODAY</strong>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/upcoming" class="mydivider">
                    <i class="icon ion-social-buffer col-offset-20"></i> Upcoming days
                </ion-item>
                <ion-item nav-clear menu-close  class="no-border " href="#/app/tomorrow" style="width:100%;height:40px;font-family: roboto;">
                    <i class="icon  col-offset-20" ></i><strong> TOMORROW</strong>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/this_week" class="no-border " style="width:100%;height:40px;font-family: roboto;">
                    <i class="icon  col-offset-20"></i> <strong>THIS WEEK</strong>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/complete_todo" class="no-border " style="width:100%;height:50px;font-family: roboto;font-weight:bold; ">
                    <i class="icon  col-offset-20"></i> <strong>COMPLETED</strong>
                </ion-item>
                <ion-item  class="item-divider">
                    <h3> Category</h3>
                </ion-item>
            </ion-list>
  
            <ion-list>
                <ion-item class="logout" menu-close nav-clear item-divider >
                    <i class="icon  col-offset-10"></i><button class="button-clear" ng-show="ifLoogedIn" on-tap="logout()"><strong>Logout</strong> <i class="icon ion-log-out" style="font-size: 16px;font-weight:700;"></i></button>
                    <button class="button-clear" ng-hide="ifLoogedIn" on-tap="login()"><i class="icon ion-android-exit bgcolor" style="padding: 0 2px;font-weight:700;"></i><strong style="padding: 0 5px; font-size: 14px;">Login</strong> </button>
                </ion-item>
                <ion-item class="" style="margin-top: 20px ;height: 60px ;width: 248px;">
                    <button class=" button button-calm" on-tap="email()">Send Email</button>
                </ion-item>
                <ion-item class="" style="margin-top: 20px ;height: 60px ;width: 248px;">
                    <button class=" button button-calm" on-tap="shareViaWhatsapp()">Share via Whatsapp</button>
                </ion-item>
            </ion-list>-->

        </ion-content>
    </ion-side-menu>
</ion-side-menus>
