<ion-view  view-title="Tasks">
    
    <ion-nav-bar class="bar-positive  pad-left14" ng-hide="hideHeader" align-title="center">
        <ion-nav-buttons side="left" >
            <button style="color: #ffffff;" class="button button-icon button-clear ion-navicon " menu-toggle="left">
            </button>
        </ion-nav-buttons>     
        <ion-nav-buttons side="right" >
<!--            <button style="color: #ffffff;" class="button button-icon button-clear ion-search " style="">
            </button>-->
            <i class="ion-search" style="color: #ffffff;font-size: 22px;padding-right: 5px;padding-top: 6px;" on-tap="showHeaderSearch();"></i>
        </ion-nav-buttons> 
        
    </ion-nav-bar>
    <div class="bar bar-positive item-input-inset" ng-show="showSearch">
            <label class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon" style="font-size:15px"></i>
              <input type="search" placeholder="Search Task" style="color: rgb(152, 155, 154);" ng-model="searchTask" focus-Me="searchFocus">
            </label>
<!--            <button class="button button-clear" on-tap="hideSearch();">
              Cancel
            </button>-->
            <i class="ion-android-close" style="padding-left:10px;padding-right:5px;font-size:25px" on-tap="hideSearch();"></i>
    </div>
        
    <!--header bar of add to do-->
    <ion-content>
        <ion-list can-swipe="listCanSwipe">
            <ion-refresher pulling-text="pull to refresh" on-refresh="refreshMe()">
            </ion-refresher> 
            <ion-item ng-repeat="todoItem in laterTask = (todoList|upcoming | filter:{done:false} |filter:searchTask) track by $index" 
                      class="mydivider defaultText default " style="height: 58px;"
                      on-hold="callEdit($index, todoItem)" ng-show="isLaterVisible" >
                <ion-checkbox class="" style="border: none;" 
                              ng-checked="todoItem.done" ng-model="todoItem.done" ng-change="completedRecord(todoItem, $index)">
                    <span class="left taskheight todoLabel" style="">{{todoItem.title|titlecase}}</span> 
                    <i ng-hide="todoItem.parseStatus" class="beLabel right rightLabel icon-left placeholder-icon ion-clock" style="margin-right: 2px;position: absolute;width: 100%;top: 33px;left: -1px;">
                    <span>{{todoItem.time|date:'medium'}}</span></i>
                </ion-checkbox>
                
<!--                <i ng-hide="todoItem.parseStatus" class="beLabel right rightLabel icon-left placeholder-icon ion-clock" style="margin-right: 2px;">
                    <span>{{todoItem.time|date:'medium'}}</span></i>-->
<!--                <ion-option-button class="button-assertive" ng-click="openContact($event,todoItem)" style="width: 135px;">-->

                <ion-option-button class="button-assertive pa"  ng-click="deleteTodo(todoItem)">
                     <i class="ion-trash-b" style="font-size: 23px;color: white; padding-top: 5px;padding-left: 5px;" ></i>
                </ion-option-button>
                <ion-option-button class="button-assertive pa"  ng-click="editTodo(todoItem)">
                        <i class="ion-edit" style="font-size: 23px;color: white; padding-top: 5px;" ></i>
                </ion-option-button>
                <ion-option-button class="button-assertive pa"  ng-click="shareTodoOption(todoItem)">
                        <i class="ion-android-share-alt" style="font-size: 23px;color: white; padding-top: 5px;" ></i>
                </ion-option-button>
            </ion-item>
                
        </ion-list>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-clear" ng-show="true">
        <h1 class="title">Title</h1>
        <div class="buttons" ng-click="createTodo()" ng-hide="hideCreateTodo">
            <button class="create-btn button createBgcolor ion-plus-round " style="font-size:20px ; "> 
            </button>
        </div>
    </ion-footer-bar>
</ion-view>