<ion-view  view-title="Tasks">
    
    <ion-nav-bar class="bar-positive  pad-left14" ng-hide="hideHeader" align-title="center">
        <ion-nav-buttons side="left" >
            <button style="color: #ffffff;" class="button button-icon button-clear ion-navicon " menu-toggle="left">
            </button>
        </ion-nav-buttons>     
        <ion-nav-buttons side="right" >
<!--            <button style="color: #ffffff;" class="button button-icon button-clear ion-search " style="">
            </button>-->
            <i class="ion-search" style="color: #ffffff;font-size: 22px;padding-right: 5px;padding-top: 6px;" on-tap="showHeaderSearch();"></i>
        </ion-nav-buttons> 
        
    </ion-nav-bar>
    <div class="bar bar-positive item-input-inset" ng-show="showSearch">
            <label class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon" style="font-size:15px"></i>
              <input type="search" placeholder="Search Task" style="color: rgb(152, 155, 154);" ng-model="searchTask" focus-Me="searchFocus">
            </label>
<!--            <button class="button button-clear" on-tap="hideSearch();">
              Cancel
            </button>-->
            <i class="ion-android-close" style="padding-left:10px;padding-right:5px;font-size:25px" on-tap="hideSearch();"></i>
    </div>
    <ion-content>
        <ion-list>
            <ion-item class="item-divider default" style="background-color: #E9E9E9;height: 35px;padding-left: 25px;" >
                <label class="left capital lineheight">Deleted</label>
            </ion-item>
            <ion-item ng-repeat="todoItem in completedTask = (deletedtodoList|filter:searchTask) track by $index" 
                      class="mydivider defaultText default"  style="height: auto;"
                       >
                <ion-checkbox class="" style="border: none;" 
                              ng-checked="todoItem.done" ng-model="todoItem.done" >
                    <span class="left taskheight {{todoItem.completed}} todoLabel" >{{todoItem.title|titlecase}}</span> 
                    
                </ion-checkbox>
                <span class="row todo-tag">
                    <label style="background-color: {{tag.color}};color: #999999;" class="tag pad5" ng-repeat="tag in todoItem.todoTag">
                        {{tag.title}}
                    </label>
                </span>
            </ion-item>

        </ion-list>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-clear" ng-show="true">
        <h1 class="title">Title</h1>
        <div class="buttons" ng-click="createTodo()" ng-hide="hideCreateTodo">
            <button class="create-btn button createBgcolor ion-plus-round " style="font-size:20px ; "> 
            </button>
        </div>
    </ion-footer-bar>
</ion-view>