/* Empty. Add your own CSS if you like */
.button.active, .button.activated{
    background-color: #03a9f4 ;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s;
    border:1px solid #03a9f4 ;
}
.button-clear {
    padding: 0px;
}
.button.button-calm {
    background-color:  #03a9f4 ;
}
.button.button-calm.activated {
    background-color:  #03a9f4 ;
}
.bar.bar-calm {
    background-color: #03a9f4;

}
.platform-android .bar .title{
/*    line-height: 40px;
    text-align: center;
    font-size: 17px;*/
}
/*.bar .title.title-left {
    text-align: center;
    //left: 0px;

}*/
input.myCircle{
    width:40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #039be5;
}
/*.bar {
    padding:5px 5px 5px 20px;
    height: 45px;
}*/
#searchBox{
    border: 1px solid #eee;
    margin-top: 8px;
    width: 70%;
    padding-left: 30px;
    float: left;
}
.searchDiv{
    margin-left: 5%;
    display: inline-block;
    width: 100%;
    float: left;
}
.item-icon-right .icon {
    right: 50px;
    border: 1px solid;
    height: 35px;
    margin-top: 13px;
    border-radius: 2px;
}
.iconBtn{
    float: right;
    width: 38px;
    height: 35px;
    border: 1px solid #ccc;
    margin-top: 8px;
    margin: 8px 25px 0px 0px;
    background-color: rgba(29, 99, 2, 0.79);
    border-radius: 2px;
}
.shareBtn{
    right: 11px;
    border: 1px solid;
    height: 33px;
    margin-top: 16px;
    border-radius: 2px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    font-size: 32px;
}
.circleBase{
    margin-left: 8px;
float: left;
width: 46px;
height: 46px;
border-radius: 23px;
text-align: center;
font-size: 18px;
font-weight: bold;
padding-top: 8px;
color:white;
}
.small{
    width:20px;
    height:20px;
    background-color: #039be5;
}

.item-checkbox .checkbox {
    margin-top: -20px;
    padding: 10px 20px 0px 15px;
    float: left;
    height: auto;
    width: 70px;
    position: absolute;
    top: 35%;
}
.item-complex .item-content, .item-radio .item-content {
    padding: 5px;
    height: auto;
    margin-top: -5px;
    display: inline-block;
}
.item {
    background-color: #fff;
    //border-color: #ddd;
    border-style: solid;
    border-width: 1px;
    color: #444;
    display: block;
    font-size: 16px;
    height: 35px;
    line-height: 31px;
    position: relative;
}
.item-content {
    width: 80%;
    //  height: 60px;
    // padding: 5px;
    font-size: 14px;
}
item-checkbox{
    width: 75%;
    height: 65%;
}
.button-positive {
    right: 0px !important;
}
#horizontalmenu{
    display: inline-block;
}
#horizontalmenu ul {
    padding:1px;
    margin:1px; 
    list-style:none;

}
#horizontalmenu li {
    float:left; 
    position:relative; 
    //padding-right:30px; 
    //display:block;
    //border:1px solid black; 
    //border-style:inset;
    width: 100px;
    height: 38px;
    text-align: left;
    display:inline;
}
#horizontalmenu li ul {
    //display:none;
    position:absolute;
    visibility: hidden;
    opacity:0;
    transition: opacity 0s ease .1s, visibility 0s ease .1s;
    //transition: opacity .25s ease .1s;
}
/*#horizontalmenu ul ul {
    visibility: hidden;
    opacity:0;
    transition: opacity 0.3s linear, visibility 0.3s linear;
    position:absolute;
}*/
/*#horizontalmenu ul li:hover{
    ul {
        visibility: visible;
        opacity: 1;
        margin-top: 2px;
        height:auto; 
        width:158px; 
        z-index: 5;
    }
}*/

#horizontalmenu li ul{
    visibility: visible;
    opacity: 1;
    //display:block;
    // background:black;
    margin-top: 2px;
    height:auto; 
    width:158px; 
    z-index: 5;
    //animation: moveFromButtom 50ms ease-in-out;
}

#horizontalmenu li ul li{
    clear:both;
    // border-style:none;
    width: 158px;

}
body{
    font-family: 'Roboto';
    color: crimson;
}
.tiny{
    font-family: monospace;
    font-size: 10px;
    float: right;
    color:#a1a1a1;
}
.time{
    float: left;
    width: 90px;
}
.createBgcolor{
    background-color: #ff5152;

}
.bgcolor{
    background-color: #2A8DD1;

}
.create-btn{

    width:60px ; 
    height:60px ;
    border:1px solid #ff5152 ;
    border-radius: 30px;
    z-index: 9;
    position: relative;
    bottom: 50px;
    right:10px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.15);
}
.create-btn:active {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s;
}
.logout{
    cursor: pointer;
}
.myDiv{
    padding: 15px 5px 5px 5px;
    margin-left: 7px;
    margin-right: 7px;
    width: 100%;
}
.myDiv label .button-icon{
    padding:0;
}
.button .icon .ion-chevron-left .white{
    padding:0;
    padding-left: 7px;
}
.myDiv label .button-icon i{
    padding:0;
}
.block{
    padding: 30px 12px 0px 12px;
}
.block button{
    margin-right:auto;
    margin-left: auto;
    width:100%;
}
.tagDiv{
    height:50px;
}
.clear{
    clear:both;
}
.tagHolder{
    position: relative;
    top: -20.5px;
    left: 19px;
    display: inline-block;
    float: left;
}
.tagHolder button{
    margin-left: 5px;
}
.button-fb{
    background-color: #2e4a89;
    border: 1px solid #2e4a89;
}
.button-g{
    background-color: #bc3925;
    border: 1px solid #bc3925;
}
.mybar{
    height: 70px;
}
.has-my-bar{
    top: 69px;
}
.myloginbar{
    height:30%;
}
.has-login-bar{
    top:30%;
}
.todoLabel{
    width: 100%;
    // background-color: #fffde7;
    word-wrap: break-word;
    font-weight: lighter;
    padding-left: 40px;
    color:#000;
}
.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
    overflow:visible;
    text-overflow: none;
    white-space: normal;
}
.mydivider{
    //style="font-weight: 600;padding-left: 40px;color:#666"
    border-bottom: 1px solid #f5f5f5;
}
.mydivider1{
    border-bottom: 1px solid #ccc 
}
.item{
    //width: 70%;
    color: #000;
    padding-left: 0px;
    padding-right:0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: -10px;
}
.item a{
    text-decoration: none;

}
.item-checkbox .checkbox {
    left:-5px;
}
.checkbox input:before, .checkbox .checkbox-icon:before {
    //border-color: #03a9f4;
}
.checkbox input {
    background-color: #ccc;
}

.checkbox-icon{
    /*display: none;*/
}
.item .item-input{
    padding-left: 0px;
}

.toggle .track{

}
.item-toggle{
    height: 54px;
}
.rightLabel{
    display:inline-block;
    margin-right:16px;
    margin-top:-14px;
    margin-left: 40px;
}
.right{
    //   float:right;
}
.as-main-bg{
    background-image: url("../img/dot.gif");
}
.left{
    float:left;
}
.default{
    padding-left: 8px;
    padding-right: 8px;
    padding-top:5px;
    padding-bottom: 5px;
    margin: 0;
    border: 0;
}
.blockButton{
    width:98%;
    margin-left:1%;
    margin-right:1%;
}
hr{
    position: relative;
    top:3px;
}
.capital{
    text-transform: uppercase;
}
.lineheight{
    line-height:1.75;
}
.taskheight{
    line-height:1.75;
}
boldText{
    font-weight: bold;
    text-transform: none;
    color:#ffffff;
    font-family:"Roboto";
    font-size: 16px;
}
.defaultText{
    text-transform: none;
    color:#ffffff;
    font-family:"Roboto";
    font-weight: lighter;
    font-size: 14px;
}
.pad-top10{
    padding-top:20px;
}
.item h2 {
    margin: 0 0 2px 0;
    font-size: 18px;
    font-weight: 600;
}
.col1{
    background-color: #fbe9e7;
}
.col2{
    background-color: #fffde7;
}.col3{
    background-color: #f1f8e9;
}.col4{
    background-color: #e0f7fa;
}

.col5{
    background-color: #e0f2f1;
}

a{
    font-family: "Roboto";  
}
.no-border{
    border: none;
}
.pad5{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.pad3{
    padding: 3px;
    margin-right: 5px;
}
.pad-bot7{
    padding-bottom: 15px;
}
.pad-top14{
    padding-top: 14px;
}
.item-divider label{
    font-size: 13px;
color: #A6A0A0;
margin-left: 32%;
margin-top: 3px;
font-weight: 600;
}
.item-content{
    font-size:13px;
}
.gery{
    color:  #f5f5f5;
}
.back-text .default-title{
    color: #ffffff;
}
nav .button-icon{
    padding-left: 1px;
}
.back-button{
    color:#ffffff;
    padding: 0px;
    margin-left: 7px;
}
.white{
    color:#ffffff;
}
.tag{
    height:20px;
    max-height: 20px;
    line-height:13px;
    font-weight: lighter;
    vertical-align: central;
}
.button .cross:before, .button.cross:before {
    line-height: 22px !Important;
    z-index: 999;
}
.beRight{
    position:absolute;
    right:70px;
}
.optRight{
    position:absolute;
    right:10px;
    z-index: 9;
}
optLeft{
    position:absolute;
    left:10px;
}
.beLeft{
    float: left;
}
.beLabel{
    font-size: 11px;
    color: #999999;
}
.beDown5{
    margin-top: 5px;
}
.beDown25{
    margin-top: 25px;
}
.beDown50{
    margin-top: 50px;
}
.margin-top100{
    margin-top: 100px;
}
.margin-bottom100{
    margin-bottom: 100px;
}
.beCenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.item-white{
    background-color: #ffffff;
}
.item-completed{
    color: #969090;;
    text-decoration: line-through;
}
.item-not-completed{
}

.ion-input-select,
select {
    -webkit-appearance:none;
    background-image: none;
    background-repeat: no-repeat;
    background-color:#ffffff;  
    border:none;
    font-weight:300;
    display:inline;
    vertical-align:middle;
    color:#ccc;
    padding: auto 0;
    overflow:hidden;
    box-sizing:border-box;
}
.padUD0{
    padding-top: 0px;
    padding-bottom: 0px;
}
div .list .item{
    border-bottom: 1px solid #f5f5f5;
}
div .list .item:last-child{
    border-bottom:0px;
}
.todo-tag{
    margin-left: 32.5px;
    position:relative;
    top: -3px;
    z-index: 3;
}
.ion-input-select {
    width:130px;
    font-size:14px;
    background-color: #ffffff;
    text-indent:10px;
    padding:0;
    margin-top: 12px;
    border-bottom:2px solid #999999;
}
.bigLabel{
    margin-left: 10px;
    font-size: 12px;
}
option {
    background:#ffffff;
}

select:-ms-expand {
    color:#33cd5f;
    display: none;
}

:focus {
    outline:none;
}
a{
    text-decoration:line-through;
    list-style: none;
}


nav{
    width: 100%;
    float: left;
    height: 60px;
}
.reminderAlign{
    position:relative;
    font-size:12px;
    line-height:32px;
    padding:0 15px;
}
ul
{
    list-style:none;
    position:relative;
    margin:0;
    padding:0;
}
li
{
    width: 120px;
    position:relative;
    float:left;
    // margin-left:5px;
    padding:0;
    /*    background: red;*/
    border-bottom: 1px solid #ccc;
    margin-right: 10px;
    //margin-left: 5px;
}

li:hover{
    text-decoration:none;
    border-bottom: 1px solid #000000; 
}
ul li a
{
    display:block;
    color:#afafaf;
    text-decoration:none;
    font-weight:300;
    font-size:14px;
    line-height:55px;
    // padding:0 5px;
    vertical-align: baseline;
    font-family: roboto;
}
ul ul li:last-child{
    background-color: #e5e5e5;
}
ul ul li a
{
    display:block;
    color:#333;
    text-decoration:none;
    font-weight:500;
    font-size:12px;
    line-height:22px;
    padding:0 15px;
}


ul ul
{
    position:relative;
    top:100%;
    left:0;
    background:#efefef;
    padding:0;
    margin-top: 2px;
    box-shadow: -2px 2px 2px #afafaf;
}

ul ul li
{
    background:#efefef;
    float:none;
    width:140px;
    border-bottom: 1px solid #f5f5f5;
}
ul ul li a{
    line-height:120%;
    padding:10px 15px;
}
ul ul li:hover{
    cursor: pointer;
}
.task{
    //top: 20px;
   border-width: 2px;
  margin-left: 17px;
  margin-right: 17px;
  background-color: #2a8dd1;
  border-left-color: #2a8dd1;
  border-bottom-color: rgb(11, 163, 218);
  border-right-color: #2a8dd1;
  border-top-color: #2a8dd1;
}
input[ng-model="mytask.title"].blurStyle{
  color: white;
/*  font-weight: bold;*/
  font-size: 20px;
  border: 2px solid;
  border-left-color: #2a8dd1;
  
  border-right-color: #2a8dd1;
  
  border-top-color: #87bcde;
 border-bottom-color: rgb(42, 141, 209);
}
input[ng-model="mytask.title"].focusStyle {
 color: white;
/*  font-weight: bold;*/
  font-size: 20px;
  border: 2px solid;
  border-left-color: #2a8dd1;
  
  border-right-color: #2a8dd1;
  
 border-top-color: #2a8dd1;
 border-bottom-color: #ffffff;
}

.popover{
top: 405px !important; 
left: 2px !important; 
margin-left: 0px !important;
opacity: 1 !important;
height:135px !important;
width: 100%;
}

.shareWithItem{
    height: 55px;
  border: none;
}
.swhats{
    background-image:url(../images/Whatsapp.ico) ;
    background-size: 17px 17px;
background-repeat: no-repeat;
}
.frndDetailDiv{
    width: 100%;
height: 55px;
}
.fbFrndpic{
    border-radius: 100%;
    margin-left: 10px;
    
    position: absolute;
}
.fbFrndname{
padding-left: 80px;
position: absolute;
padding-top: 10px;
}
.fbshare{
    float: right;
margin-right: 10px;
margin-top: 5px;
}

/*.bar .title{
   left: 0px !important;
top: 13px !important;
color: white;
font-size: 20px !important;
}*/

.action-sheet .button {
  background-color: transparent;
  font-size: 15px;
}
.actionButton{
    padding-left: 10px;
    color:rgb(112, 100, 100);;
}

.shareIcon{
    margin-left: 10px;
color: #2A8DD1;
}
.shareIconFb{
    font-size: 23px; 
}
.shareIconWA{
 padding-left: 18px;
 margin-left: 6px;
}
.shareIconEmail{
    font-size: 23px; 
}

.menuIcon{
    font-size: 25px;
  color: #2a8dd1;
}
.menuText{
  padding-left: 58px;
  color: rgb(147, 143, 138);
  font-size: 15px;
}
.bar.bar-positive {
  border-color: #2a8dd1;
  background-color: #2a8dd1;
}
.side-icon-position{
    position: absolute;
top: 7px;
}
.emailFrndName{
    padding-left: 15px;
position: absolute;
top: 4px;
font-size: 14px;
}
.emailFrndEmail{
    padding-top: 14px;
color: #bebebe;
font-size: 13px;
overflow: hidden;
width: 173px;
height: 50px;
padding-left: 15px;
position: absolute;
}