<ion-view title="Add Task" style="color:#FFFFFF;">
    <!--header bar of add to do-->
    <ion-content class="has-my-bar" >
        <ion-list>
            <!--            <ion-item class="item-divider default" style="text-align: center;">
                            <label class="capital lineheight"><h2 class="title">Create Todo</h2></label>
                        </ion-item>-->
            <!--            <ion-item class="no-border">
            
                        </ion-item>-->
            <ion-item style="height:60px;">
                <div class="myDiv">
                    <label class="item-input">
                        <input type="text" placeholder="Add ToDo Tasks" ng-model="mytask.title">
                    </label>
                </div>
            </ion-item>
            <iom-item>
                <div class="myDiv no-border">
                    <label >
                        <button class="button button-icon " 
                                style="color:#ccc;" on-tap="showReminder=true;" ng-hide="showReminder">
                            <i class="icon placeholder-icon ion-compose" style="color:#ccc;"></i> Remind me
                        </button>
                    </label>
                </div>
            </iom-item>
            <nav ng-show="showReminder" id="horizontalmenu" class="" close-submenu>
                <div style="padding-bottom: 20px;">
                    <button class="button button-icon icon-left placeholder-icon ion-clock" 
                            style="color:#ccc;position: absolute;padding: 9px 15px 10px 5px;">
                    </button>
                    <ul style="margin-left: 36px;display: inline-block;"> 
                        <li><a id="dateBtn">{{ChoosenDate}}</a>
                            <ul ng-show="reminderTime.isDateDisplaying"> 
                                <li class="mydivider1" ><a on-tap="showDate(myDates[0].title,$event)">{{myDates[0].title}}</a></li>
                                <li class="mydivider1"><a  on-tap="showDate(myDates[1].title,$event)">{{myDates[1].title}}</a></li>
                                <!--                                <li >{{Date}}</li> -->
                                <li><a on-tap="showDate(myDates[2].title,$event)">{{myDates[2].title}}</a></li>
                            </ul>
                        </li>
                        <li><a id="timeBtn">{{mytime.title}}</a>
                            <ul ng-show="reminderTime.isTimeDisplaying" >
                                <li class="pad-bot7 mydivider1" ><a on-tap="showTime($event,myTimes[0].title)"><span class="time">{{myTimes[0].title}}</span><span class="tiny grey">{{myTimes[0].dtime}}</span></a></li>
                                <li class="pad-bot7 mydivider1" ><a on-tap="showTime($event,myTimes[1].title)"><span class="time">{{myTimes[1].title}}</span><span class="tiny">{{myTimes[1].dtime}}</span></a></li>
                                <li class="pad-bot7 mydivider1" ><a on-tap="showTime($event,myTimes[2].title)"><span class="time">{{myTimes[2].title}}</span><span class="tiny">{{myTimes[2].dtime}}</span></a></li>
                                <li class="pad-bot7 mydivider1" ><a on-tap="showTime($event,myTimes[3].title)"><span class="time">{{myTimes[3].title}}</span><span class="tiny">{{myTimes[3].dtime}}</span></a></li>
                                <!--                                <li class="grey pad-bot7"><span class="time">{{Time}}</span></li>-->
                                <li class="grey pad-bot7"><a on-tap="showTime($event,myTimes[4].title)"><span class="time">{{myTimes[4].title}}</span></a></li>
                            </ul>
                        </li>
                    </ul>
                    <button class="button button-icon icon-left placeholder-icon ion-close-circled" 
                            style="color:#ccc;padding: 10px 0px 10px 10px;position:absolute;right:6px;" on-tap="noReminder()">
                    </button>

                </div>

            </nav>


            <div class="block no-border pad-top154">
                <button class="white no-border button bgcolor" style="" on-tap="addTodo()">Create</button>
            </div>

        </ion-list>
    </ion-content>
</ion-view>
