<ion-view>  
    <ion-nav-bar class="bar-calm">
        <ion-nav-title>
            <label>Login with facebook credentials</label>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content>
        <div class="row row-center beDown50">
            <div class="col col-offset-34">
            </div>
            <div class="col col-33">
                <button class="button button-bar button-calm" on-tap="fbLogin()"><i class="ion-social-facebook-outline"></i> Login</button>
            </div>
            <div class="col col-offset-34">
            </div>
        </div>
    </ion-content>
</ion-view>



      
