<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">My Modal title</h1>
    </ion-header-bar>
    <ion-content>
       
       TodoApp :
        
Project ID: root-beanbag-93508 Project Number: 844239908985  
        
        
        Hello!
     
Project ID: excellencetechnologies.in:api-project-408004308110 Project Number: 408004308110



API key   :  AIzaSyDNU_8O9EK2o1sw1imme2uhFqdDy0YTiYw
IPs   :      127.0.0.1

Activation date     :   May 4, 2015, 4:48:00 AM
Activated by   :     ravikant@excellencetechnologies.in (you)


        
    </ion-content>
</ion-modal-view>