<ion-view >

    <ion-nav-bar class="bar-calm mybar">
        <ion-nav-buttons side="left">
            <button style="padding-top:12px;" class="button button-icon button-clear ion-navicon " menu-toggle="left">
            </button>
            <label class="boldText pad-top10">
                <span side="left" class="bigLabel">
                    <span style="font-size: 16px;">ToDo</span>
                    <span class="" style="color:#FFFFFF;position: relative;">
                        {{loggedUser| lowercase}}
                    </span>
                </span>
                
            </label>
        </ion-nav-buttons>
        <ion-nav-buttons side="secondary">

        </ion-nav-buttons>
    </ion-nav-bar>

    <!--header bar of add to do-->
    
    <ion-content class="has-my-bar ">
        
        <ion-list can-swipe="listCanSwipe">
            <ion-refresher pulling-text="pull to refresh" on-refresh="refreshMe()">
            </ion-refresher>  
<!--            <ion-item class="item-divider default" style="text-align: center; background-color: #f5f5f5;">
                <label class="left capital lineheight">Today</label>
            </ion-item>-->
            <ion-item ng-repeat="todoItem in todoList|today | filter:{done:false} track by $index" 
                      class=" defaultText default " style="height: auto;"
                      on-hold="callEdit($index, todoItem)">
                <ion-checkbox class="{{todoItem.completed}}" style="border: none;" 
                              ng-checked="todoItem.done" ng-model="todoItem.done" ng-change="completedRecord(todoItem, $index)">
                    <span class="left taskheight todoLabel" >{{todoItem.title}}</span> 
                    
                </ion-checkbox>
                <i ng-hide="todoItem.parseStatus" class="beLabel right rightLabel icon-left placeholder-icon ion-clock" style="margin-right: 2px;">Today {{todoItem.time|date:'hh:mma'}}</i>
                <ion-option-button class="button-positive"
                                   ng-click="openContact($event)">
                    Share
                </ion-option-button>
            </ion-item>

        </ion-list>
    </ion-content>
    <!--footer bar of add to do-->
    <ion-footer-bar align-title="left" class="bar-clear" ng-show="true">
        <h1 class="title">Title!</h1>
        <div class="buttons" ng-click="createTodo()">
            <button class="button button-calm ion-plus-round" style="font-size:20px ; width:60px ; height:60px ;border:1px solid white ;border-radius: 30px;z-index: 9;position: relative;bottom: 50px;right:10px;"> 
            </button>
        </div>
    </ion-footer-bar>
</ion-view>

